@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.nav-wrapper {
    /* background: #3090a1; */
    background: #000000;
}

.brand-logo {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 45px;
    text-align: center;
}

.collapsible-header{
    background: #fff;
    color: #333333;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;

}

.collapsible-body {
    background: #333333;
    color: #fff; 
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;

}

footer {
    width: 100%;
    height: 150px;
    background: #000000;
    margin-top: 10px;
}

.caption {
    padding-top: 150px;
    font-family: 'Quicksand', sans-serif;
    color: black;
}


.slider .indicators .indicator-item.active {
    background-color: #fff;
}

.noni {
    color: black;
}

.card-image {
    position: relative;
}

.stanbase {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 30px;
    color: black;
}

.card-about {
    padding: 0px 20px;
    position: relative;
    margin-top: 45px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: black;
    text-align: justify;
}

.about-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    text-align: center;
}

.divider {
    margin-bottom: 20px;
}
