@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    background-color: #fff;
}


/* Home page */

.cover-image {
    background-image: url(https://m.media-amazon.com/images/M/MV5BNTAxMDExZDMtYzA2Ni00YTBiLThlYzQtZDVmN2NlMzVlZWM1XkEyXkFqcGdeQXVyNjUxMjc1OTM@._V1_SX1777_CR0,0,1777,963_AL_.jpg);
    height: 100vh;
    background-size: cover;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column-reverse;
   /* justify-content: center; */
    align-items: center; /* this and above: YouTube tutorial DevTips https://www.youtube.com/watch?v=hExwnLlj2xk */
    background-position: center; /* W3Schools*/ 
    background-repeat: no-repeat; /* W3Schools*/ 
    background-size: cover; /* W3Schools*/ 
    /* border: 10px ridge #2e279d; */
    border: 8px ridge black;
    /* opacity: 1.0; */
    padding-bottom: 50px; 
}

.home-title {
    font-family: 'Dancing script', cursive;
    font-weight: 700;
    font-size: 40px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 50px;
    margin-right: 50px; 
    text-align: center;
    background: black;
    opacity: 0.6;
    padding-bottom: 25px;
    padding-top: 10px;
}

.home-subtitle {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.home-button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: white;
}

.btn-large {
    text-transform: capitalize;
} 

/* Navbar on desktop and mobile - not on landing page */

.nav-wrapper {
    background: #ff7315;
}

.brand-logo {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 45px;
}

.material-icons {
    color: #232020;
}

.nav-items {
    color: black;
    font-family: 'Quicksand', sans-serif;
}

.sidenav-items {
    color: black;
    font-family: 'Quicksand', sans-serif;
}

.non-links {
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    padding-left: 15px;
}

/* Main pop out feature to showcase films list */

.collapsible-header{
    background: #212121;
    color: #fff;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    border: 1px white solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.collapsible-body {
    background: #2e279d;
    color: #fff; 
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;

}

/* Footer section */

footer {
    width: 100%;
    height: 150px;
    background: #69f0ae;
   /* margin-top: 10px; */
}


/* About page */

.card-image {
    position: relative;
    border: 20px;
}

.stanbase {
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    font-size: 30px;
    color: black;
}

.stanbase-about {
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    font-size: 40px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.card-about {
    padding: 0px 10px;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: black;
    text-align: justify;
}

.card-about-dark {
    padding: 0px 10px;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: black;
    text-align: justify;
}

.about-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}

.about-form {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}

div.welcome-title {
    font-family: 'Dancing script', cursive;
    font-size: 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caption {
    padding-top: 170px;
    font-family: 'Quicksand', sans-serif;
    color: black;
}


/* To remove indicator as only one image used in slider */

.slider .indicators .indicator-item.active {
    background-color: black;
}

.noni {
    color: black;
}

h3.image-text {
    color: black;
}

h5.image-text {
    color: black;
}


 .card-panel {
 /*   background-color: #2e279d; */
    border-radius: 8px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
} 

.welcome {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 20px;
    
}

.row.footer {
    margin-bottom: 0;
}


.signup-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}

.login-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}

.film-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}


.login-register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

blockquote {
    background-color: white;
    color: #2e279d;
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
    font-weight: 500;
    border: 1px #2e279d solid;
    border-radius: 5px;
    padding: 20 20 20 20;
}

blockquote.dark {
    background-color: #2e279d;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
    font-weight: 500;
    border: 1px #2e279d solid;
    border-radius: 5px;
    padding: 20 20 20 20;
}

.ref {
    font-size: 20px;
}

