@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');

body {
    background-color: #fff;
}

/* --------------------------------------- Home / landing page ------------------------------------------ */

.cover-image {
    background-image: url(https://m.media-amazon.com/images/M/MV5BNTAxMDExZDMtYzA2Ni00YTBiLThlYzQtZDVmN2NlMzVlZWM1XkEyXkFqcGdeQXVyNjUxMjc1OTM@._V1_SX1777_CR0,0,1777,963_AL_.jpg);
    height: 100vh;
    background-size: cover;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    align-items: center; /* this and above: YouTube tutorial DevTips https://www.youtube.com/watch?v=hExwnLlj2xk */
    background-position: center; /* W3Schools */ 
    background-repeat: no-repeat; /* W3Schools */ 
    background-size: cover; /* W3Schools */ 
    border: 8px ridge black;
    padding-bottom: 50px; 
}

.home-title {
    font-family: 'Dancing script', cursive;
    font-weight: 700;
    font-size: 40px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 50px;
    margin-right: 50px; 
    text-align: center;
    background: black;
    opacity: 0.6;
    padding-bottom: 25px;
    padding-top: 10px;
}

.home-subtitle {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
}

.home-button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
}

.btn-large {
    text-transform: capitalize;
} 

/* -------------------------- Navbar and logo on desktop and mobile - not on landing page ----------------------- */

.brand-logo {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 45px;
}

.nav-items,
.sidenav-items {
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: 500;
}

/* ---------------------------- Main pop out feature to showcase films list ------------------------------------- */

.collapsible-header{
    background: #212121;
    color: #fff;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    border: 1px white solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.collapsible-body {
    background: #2e279d;
    color: #fff; 
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

span {
    font-size: 18px; /* for form submission styling */
}

button,
a.green.accent-2.black-text.btn {
    font-weight: 600;
    letter-spacing: .5px;
    padding: 0 2rem;
    vertical-align: middle;
    height: 36px;
    line-height: 36px;
    font-family: 'Quicksand', sans-serif;
}

/* ----------------------------------------------- Footer section ----------------------------------------------- */

footer {
    width: 100%;
    height: 150px;
    background: #69f0ae;
}

/* -------------------------------------------------- About page ----------------------------------------------- */

.card-image {
    position: relative;
    border: 20px;
}

.stanbase {
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    font-size: 30px;
    color: black;
}

.stanbase-about {
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    font-size: 40px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.card-about {
    padding: 0px 10px;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: black;
    text-align: justify;
}


div.welcome-title {
    font-family: 'Dancing script', cursive;
    font-size: 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caption {
    padding-top: 170px;
    font-family: 'Quicksand', sans-serif;
    color: black;
}

h5.image-text,
h3.image-text {
    color: black;
}


 .card-panel {
    border-radius: 8px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
} 

.welcome {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* ---------------------------------------------- Page titles --------------------------------------------------- */

.signup-title,
.login-title,
.film-title,
.about-form-title,
.about-title,
.edit-form-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}



blockquote {
    background-color: white;
    color: #2e279d;
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
    font-weight: 400;
    border: 1px #2e279d dotted;
    border-radius: 5px;
    padding: 20 20 20 20;
}

blockquote.dark {
    background-color: #2e279d;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
    font-weight: 400;
    border: 1px #2e279d solid;
    border-radius: 5px;
    padding: 20 20 20 20;
}

.ref {
    font-size: 20px;
}

div.video-container.stan {
    margin-bottom: 40px;
}

.material-icons {
    color: #232020;
}

.login-register-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flash-messages {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    margin: 10 10;
    color: crimson;
}

.signup-prompt {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    margin: 10 10;
    color: black;
}

a {
   color: #2e279d;
}

div.input-field.col.s12,
div.input-field.col.s8 {
    font-family: 'Quicksand', sans-serif;
}

.row.footer {
    margin-bottom: 0;
}

