{% extends 'base.html' %}
{% block content %}


<div class="container-fluid">

    <img class="responsive-img"
        src="http://imagesmtv-a.akamaihd.net/uri/mgid:ao:image:mtv.com:95975?quality=0.8&format=jpg&width=1440&height=810&.jpg">

</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <h4>About Stanbase!</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p> So, what is Stanbase! ? If you're a super fan of someone famous, then Stanbase is for you! It's website
                that communicates with a database so you can create, read, update and delate input you've added.</p>
        </div>
    </div>
</div>

{% endblock %}