{% extends 'base.html' %}
{% block content %}

<h4>Add Film</h4>

<div class="row">
    <form action="" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">movie</i>
                <input id="film_name" name="film_name" type="text" class="validate">
                <label for="icon-prefix">Movie</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">star</i>
                <input id="co_star" type="text" name="co_star" class="validate">
                <label for="icon-prefix">Co-star</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">menu_book</i>
                <textarea id="film_plot" name="film_plot" class="materialize-textarea"></textarea>
                <label for="icon-prefix">Plot</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">favorite</i>
                <textarea id="film_rec" name="film_rec" class="materialize-textarea"></textarea>
                <label for="icon-prefix">Why I love this movie</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6" id="matfix">
                <i class="material-icons prefix">today</i>
                <input id="date_watched" name="date_watched" type="text" class="datepicker">
                <label for="icon_prefix">Date Watched</label>
            </div>
        </div>
    </form>
</div>

{% endblock %}