{% extends 'base.html' %}
{% block content %}

<h4>Add Film</h4>

<div class="row">
    <form action="" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">movie</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Movie</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">star</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Co-star</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">menu_book</i>
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Plot</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">favorite</i>
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Why I love this movie</label>
            </div>
        </div>
    </form>
</div>

{% endblock %}