{% extends 'base.html' %}
{% block content %}

<!-- modified slider feature -->

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="film-title">Tap a film to read more about it...</div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <ul class="collapsible popout" data-collapsible="accordion">
                {% for film in films %}
                <li>
                    <div class="collapsible-header">
                        <h5>{{film.film_name}} ({{film.film_year}}) </h5>
                    </div>

                    <div class="collapsible-body"><span>
                            <h5>Co-stars</h5> {{film.co_stars}}
                            <h5>Film Plot</h5> {{film.film_plot}}
                            <h5>Genre</h5> {{film.genre_type}}
                            <h5>My recommendation</h5>{{film.film_rec}}
                            <h5>Date I watched</h5> {{film.date_watched}} <br>
                            <h5>Stan</h5> {{film.winona_stan}} <br>


                            <p>
                                <a href="{{url_for('edit_film', film_id=film._id)}}"
                                    class="waves-effect waves-light btn">Edit</a>
                                <a href="{{url_for('delete_film', film_id=film._id)}}"
                                    class="waves-effect waves-light btn">Remove</a>
                            </p>
                        </span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <blockquote>
                <em>" I've loved making movies. I feel like I've been so lucky because I've gotten to be in movies that are some of my favorites, regardless of my being in them - like 'Heathers' "</em> <div class="right-align ref">- Winona Ryder</div>
            </blockquote>
        </div>
    </div>
</div>



{% endblock %}