<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <!-- A simple landing page with fullscreen image and button to enter Stanbase-->
    <div class="cover-image">
        <div class="home-title">Stanbase !<br>
        <p class="home-subtitle">The database for top Winona Ryder fans!</p>
    <div><a href="{{url_for('get_films')}}" class="waves-effect waves-light btn-large"> <span
                class="home-button">Enter</span></a></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.collapsible').collapsible(); // Materialize
            $('select').material_select(); // code from Code Institute videos
            $('.button-collapse').sideNav(); // Materialize
            $('.slider').slider();
        });

        // code from Code Institute
        $('.datepicker').pickadate({
            selectMonths: true,
            selectYears: 70, // Winona Ryder has been acting since 1986 // 35 years either side of 2019
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });

        // Code Institute fix for Chrome v Materialize issue
        document.getElementById("matfix").addEventListener("click", function (e) {
            e.stopPropagation();
        });

    </script>
</body>

</html>