{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col s12">
            <div class="welcome-title">Welcome Stan!</div>
        </div>
    </div>
</div>   
<div class="container">
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="card-about white">
                <p class="welcome">Starting out...</p>
                <p> Winona Ryder moved with her parents to Petaluma, California when she was ten and enrolled in acting classes at the American Conservatory Theater. At 13, director David Seltzer spotted cast her in Lucas (1986). When telephoned to ask how she would like to have her name appear on the credits, she suggested Ryder as her father's Mitch Ryder album was playing the background.
                </p>
            </div>
        </div>


        <div class="col s12 m6 l6">
            <div class="card-about white">
                <p class="welcome">Did you know...?</p>
                <p> Her 1999 appearance on Jay Leno's Tonight Show was her second-ever appearance on a talk show. She did it to promote Girl, Interrupted (1999). She made her first appearance on The Oprah Winfrey Show with Mermaids (1990) co-star Cher. She frequently plays characters who write. She's been a journalist, a reporter, a writer or just a teenager who writes in a journal or diary.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <blockquote>
                    <em>" I've loved making movies. I feel like I've been so lucky because I've gotten to be in movies that are some of my favorites, regardless of my being in them - like 'Heathers' "</em> <div class="right-align ref">- Winona Ryder</div>
                </blockquote>
            </div>
        </div>

    </div>
</div>

{% endblock %}