{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col s12">
            <div class="welcome-title">Welcome Stan!</div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 l6">
            <div class="card-about white">
                <p class="welcome">Welcome STANS!</p>
                <p> Below you'll find a list of Winona Ryder films that have been reviewed. Go ahead and add to the
                    list if your favourite movie isn't included!

                    And remember, as a die hard Stan, this is your datasbase. Add, edit, read and delete (if you
                    think starting fresh is best). So everyone know it's your input, sign off in the Stan field.
                </p>
            </div>
        </div>


        <div class="col s12 m6 l6">
            <div class="card-about white">
                <p class="welcome">Welcome STANS!</p>
                <p> Below you'll find a list of Winona Ryder films that have been reviewed. Go ahead and add to the
                    list if your favourite movie isn't included!

                    And remember, as a die hard Stan, this is your datasbase. Add, edit, read and delete (if you
                    think starting fresh is best). So everyone know it's your input, sign off in the Stan field.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <blockquote>
                    <em>" I've loved making movies. I feel like I've been so lucky because I've gotten to be in movies that are some of my favorites, regardless of my being in them - like 'Heathers' "</em> <div class="right-align ref">- Winona Ryder</div>
                </blockquote>
            </div>
        </div>

    </div>
</div>

{% endblock %}